.movie-card {
    width: 350px;
}

.movie-card-img {
    width: inherit;
}

.movie-card-info {
    color: #ffffff;
}

.movie-card-img {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.movie-card-info-year {
    border: #ffffff solid 1px;
    padding: 5px 10px;
    border-radius: 6px;
}

.movie-card-info-name{
    margin-bottom: 10px;
}

.movie-card-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-card-info-description {
    margin-top: 0;
}

.movies-search-results-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}