.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 50;
}

.popup {
    position: absolute;
    left: auto;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}

.popup_inner {
    margin: auto;
    position: relative;
    width: 800px;
    background: #232323;
}

.popup_header {
    padding-top: 20px;
}

.popup-title-color {
    color: #ffffff;
    margin-left: 60px;
}