.popup {
  /*width: 100%;*/
  /*height: 100%;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*display: flex;*/
  /*margin-top: 60px;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/

  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 60px;
  left: 0;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_inner {
  margin: auto;
  position: relative;
  width: 800px;
  background: #232323;
}

.popup_header {
  padding-top: 20px;
}

.popup-title-color {
  color: #fff;
  margin-left: 60px;
}
