.popup {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 60px;
  left: 0;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_inner {
  margin: auto;
  position: relative;
  width: 800px;
  background: #232323;
}

.popup_header {
  padding-top: 20px;
}

.popup-title-color {
  color: #fff;
  margin-left: 60px;
}
