.sort-select {
    padding: 3px;
    outline: 0;
    background: #232323;
    border: none;
    color: #FFFFFF;
    width:200px;
    position: relative;
    display: inline-block;
    height: 50px;
    border-radius: 6px;
    font-size: larger;
}