.find-movie-container {
    display: flex;
    margin-bottom: 50px;
}

.movie-info-container {
    margin-left: 100px;
}

.movie-title {
    display: flex;
}

.movie-image {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    background-size: 100% 630px;
    background-repeat: no-repeat;
    background-color: lightsteelblue;
    height: 630px;
    width: 450px;
    transition: background 0.5s ease-in;
}

.movie-rating {
    color: #0b9a0b;
    border: solid 1px #ffffff;
    border-radius: 50%;
    padding: 10px 25px 10px 25px;
    height: 85px;
    width: 85px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    font-weight: initial;
    margin-top: 0.67em;
    margin-bottom: 0;
    margin-left: 0.67em;
}

.movie-tagline {
    font-size: x-large;
    color: #7b7979;
}

.movie-long-description {
    font-size: x-large;
    color: #ffffff;
}

.movie-title-name {
    font-size: 4em;
    font-weight: initial;
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0;
}

.movie-additional-info {
    display: flex;
    color: #f65261;
    font-size: 2em;
}

.movie-runtime {
    margin-left: 30px;
}