.header {
    position: relative;
    height: 500px;
    background: #cccccc url("Best-Movies.jpg") no-repeat center;
    background-size: cover;
    border-bottom: #555555 solid 10px;
}

.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1px;
    background: rgba(0,0,0,.8);
    z-index: 2;
}
