.header {
  position: relative;
  min-height: 500px;
  background: #ccc url("Best-Movies.jpg") no-repeat center;
  background-size: cover;
  border-bottom: #555 solid 10px;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.header-container {
  color: #fff;
  position: relative;
  z-index: 3;
  margin-left: 170px;
  margin-top: 50px;
  margin-right: 60px;
}
