.form-dropdown {
    margin-bottom: 30px;
    margin-left: 60px;
}

.form-dropdown-label {
    color: #f65261;
    display: inline-block;
    margin-bottom: 15px;
    font-size: large;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 10px;
    margin-left: 15px;
    max-height: 100px;
    overflow: auto;
    margin-right: 65px;
}